@import url('client_pc.css');

BODY,HTML>BODY
{ font-size:11px; }
#quicklinks
{ font-size:12px; }
#nav
{ font-size:13px; font-weight:normal }
#maincontent P, #content #maincontent UL LI
{ font-size:12px !important; font-size:11px }
.roundbox_gray
{ margin-bottom:0; padding-bottom:0 }
.roundbox_gray A.toggle
{ padding-bottom:10px; display:block }
#nav LI A
{ padding:6px 20px 8px 20px; }
#footer
{ font-size:11px }
#footer_wrapper>#footer
{ font-size:12px }

#table-format TABLE.tabular-layout TD.value INPUT.search_checkbox_autocomplete_composite
{ margin: 0px 3px 2px -4px; border-style:none; vertical-align:middle; }
